<div class="col-lg-3">

    <h1 class="my-4">
        <%= name%>'s Shop</h1>
    <div class="list-group">
        <a href="#" class="list-group-item">Ürün 1</a>
        <a href="#" class="list-group-item">Ürün 2</a>
        <a href="#" class="list-group-item">Ürün 3</a>
        <a href="#" class="list-group-item">Ürün 4</a>
        <a href="#" class="list-group-item">Ürün 5</a>
    </div>

</div>
<!-- /.col-lg-3 -->